---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import { Image, Picture, getImage } from 'astro:assets';
const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<section
	id="about"
	class="wrapper py-2xl pSlide-m-l surface-1 scroll-margin">
	<article
		class="d-flex wrap gap-l"
		{...storyblokEditable(blok)}>
		<div class="about-photo mb-l border-radius-2xs">
			<Image
				src={blok.image.filename}
				alt={blok.image.alt}
				inferSize={true}
				widths={[334, 640]}
				sizes={`(min-width: 1480px) 167px, (min-width: 1060px) calc(4.5vw + 101px), (min-width: 580px) calc(26.3vw - 15px), (min-width: 460px) 320px, calc(91.43vw - 82px)`}
			/>
		</div>
		<div class="about-copy mx-2xs">
			<h2 class="accent">{blok.title}</h2>
			<p class="prose-1">{blok.bold_text}</p>
			<Fragment set:html={content} />
		</div>
	</article>
</section>

<style lang="scss">
	article {
		--main-min-width: 45ch;
		--sidebar-size: 250px;
		--gap: clamp(2.25rem, 2.181rem + 0.3448vi, 2.5rem);

		.about-photo {
			width: min(320px, 100%);
			width: min(100%, max(320px, calc(var(--sidebar-size) - var(--gap))));
			height: min(100%, max(320px, calc(var(--sidebar-size) - var(--gap))));
			flex-grow: 1;
			flex-basis: var(--sidebar-size);
			aspect-ratio: 1;
			overflow: hidden;

			img {
				object-fit: contain;
				object-position: top center;
			}
		}

		.about-copy {
			flex-grow: 999;
			flex-basis: calc(((var(--main-min-width) - (100% - var(--sidebar-size) - var(--gap))) * 9999));
		}
	}
</style>
