---
import { storyblokEditable } from '@storyblok/astro';
import { useStoryblokApi } from '@storyblok/astro';

const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories`, {
	version: process.env.VITE_ENVIRONMENT === 'preview' ? 'draft' : 'published',
	starts_with: 'blog/',
	is_startpage: false,
});

const articles = data.stories;
---

<section class="wrapper">
	<article {...storyblokEditable(blok)}>
		<div class="about-copy mx-2xs">
			<ul>
				{
					articles?.length &&
						articles.map((article) => {
							article.content.slug = article.slug;
							return (
								<li>
									<time>{article.content.date}</time>
									<a href={`/blog/${article.content.slug}`}>{article.content.title}</a>
									<p>{article.content.description}</p>
									<p>{`/blog/${article.content.slug}`}</p>
								</li>
							);
						})
				}
			</ul>
		</div>
	</article>
</section>
