---
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<input
		type="checkbox"
		name={blok.legend}
		value={blok.option}
		id={blok._uid}
	/>
	<label for={blok._uid}>{blok.option}</label>
</div>
