---
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<input
		type="radio"
		name={blok.legend}
		value={blok.option}
		id={blok._uid}
		class="m-0"
	/>
	<label for={blok._uid}>
		{blok.option}
	</label>
</div>
