---
const today = new Date();
import Social from '../components/elements/Social.astro';
import StandardLinks from '../components/elements/StandardLinks.astro';
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories/config', {
	version: process.env.VITE_ENVIRONMENT === 'preview' ? 'draft' : 'published',
	resolve_links: 'url',
});
const logo = data?.story?.content?.logo;
const socialLinks = data?.story?.content?.social_links;
const siteName = data?.story?.content?.site_name;
---

<footer id="site-footer">
	<div class="wrapper d-flex wrap justify-content-space-between gap-s pt-2xl px-s pb-l">
		<img
			src={logo.filename}
			alt={siteName}
			class="logo"
		/>

		<div class="social-links d-flex wrap justify-content-space-between align-items-center gap-l">
			{
				socialLinks.map((site) => (
					<Social
						platform={site.platform}
						href={site.social_media.url}
					/>
				))
			}
		</div>
		<nav class="u-grid">
			<ul class="nav-links m-0 p-0">
				<!-- TODO: make /work/ dynamic -->
				<li class="nav-item"><a href=`/#work`>Work</a></li>
				<StandardLinks />
			</ul>
		</nav>
		<div class="colophon">
			<p>&copy; {today.getFullYear()} {siteName}. All Rights Reserved.</p>
			<p>
				Template example for<a href="https://github.com/astro-storyblok-portfolio"
					>Astro + Storyblok Portfolio Starter Template</a
				>. Built by <a href="https://github.com/ninjulia">Julia.</a>
			</p>
		</div>
	</div>
</footer>
<script>
	import '../scripts/nav.js';
</script>
