---
import { Icon } from 'astro-icon/components';
import { Image, getImage } from 'astro:assets';

const { article } = Astro.props;
const content = article.body;
const refactoredArticle = content.reduce((acc, obj) => {
	acc[obj.component] = { ...obj, component: undefined };
	return acc;
}, {});

const image = article.hero_image;
const headline = article.title;
const preview = refactoredArticle.Teaser.teaser;
const link = refactoredArticle.Teaser.link_text;
---

<article class="standard-feature">
	<figure class="portfolio-display">
		<div class="portfolio-display-image">
			<Image
				class="standard-feature-image"
				src={image.filename}
				alt={image.alt}
				inferSize={true}
				widths={[300, 1065, 1470, 1780]}
				sizes={`(min-width: 1520px) 1065px, (min-width: 1480px) calc(1465vw - 20910px), (min-width: 780px) calc(94.41vw - 331px), (min-width: 420px) 100vw, (min-width: 340px) 28.33vw, calc(-1050vw + 3450px)`}
			/>
		</div>
		<figcaption class="portfolio-display-content surface-1">
			<h3 class="display-3">{headline}</h3>
			<Fragment set:html={preview} />
			<a
				class="btn standard m-0 align-self-start d-flex align-items-center"
				href={article.slug}>
				{link}{' '}
				<Icon
					name={'feather:chevrons-right'}
					width={24}
				/>
			</a>
		</figcaption>
	</figure>
</article>
