---
const { article } = Astro.props;
import { Image, getImage } from 'astro:assets';
let teaser = article.body.filter((object) => object.component === 'teaser')[0];
let hero = article.body.filter((object) => object.component === 'Hero')[0];
let image = hero.image;
let headline = hero.title;
let preview = teaser.teaser;
let link = teaser.link_text;
---

<article class="standard-feature">
	<figure class="portfolio-display">
		<div class="portfolio-display-image">
			<Image
				class="standard-feature-image"
				src={image.filename}
				alt={image.alt}
				width="1440"
				height="720"
				densities={[1, 2]}
				widths={[300, 1065, 1470, 1780]}
				sizes={`(min-width: 1520px) 1065px, (min-width: 1480px) calc(1465vw - 20910px), (min-width: 780px) calc(94.41vw - 331px), (min-width: 420px) 100vw, (min-width: 340px) 28.33vw, calc(-1050vw + 3450px)`}
			/>
		</div>
		<figcaption class="portfolio-display-content surface-1">
			<h3 class="display-3">{headline}</h3>
			<Fragment set:html={preview} />
			<a
				class="btn standard m-0 align-self-start"
				href={`/work/${article.slug}`}>
				{link}
			</a>
		</figcaption>
	</figure>
</article>

<script>
	//don't lazy load images within initial viewport
	let image = document.querySelector('.standard-feature-image');
	let observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				image = entry.target;
				image.setAttribute('loading', 'eager');
				image.setAttribute('decoding', 'auto');
			}
		});
	});
	observer.observe(image);
</script>
