---
import BaseHead from '../components/elements/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

//Get name of current page
import { useStoryblokApi } from '@storyblok/astro';
const { slug } = Astro.params;
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories/${slug === undefined ? 'home' : slug}`, {
	version: process.env.VITE_ENVIRONMENT === 'preview' ? 'draft' : 'published',
});

const pageTitle = data.story.name;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={Astro.url.pathname === '/' ? `${SITE_TITLE}` : `${pageTitle} | ${SITE_TITLE}`}
			description={SITE_DESCRIPTION}
			image={`/open-graph/${data.story.slug}.png`}
		/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
